<ion-header>
  <ion-toolbar>
    <ion-title>
      Radial Gauge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-card class="welcome-card">
          <ion-card-header>
            <ion-card-subtitle>Get Started</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
          <ion-card-content text-center>
            <radial-gauge width="200" height="200" #chart></radial-gauge>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="8">
        <ion-list class="accordion-list">
          <ion-list-header *ngFor="let item of categories; let i=index"
            [ngClass]="{'section-active': item.open, 'section': !item.open}" no-lines no-padding>
            <button ion-button ion-item detail-none (click)="toggleSection(i)">
              <ion-icon item-left name="arrow-forward" *ngIf="!item.open"></ion-icon>
              <ion-icon item-left name="arrow-down" *ngIf="item.open"></ion-icon>
              <ion-label>{{item.name}}</ion-label>
            </button>
          </ion-list-header>
          <ion-item>
            <ion-list>
              <ion-item>
                <ion-label>Width</ion-label>
                <ion-input floating [value]="options.width"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Height</ion-label>
                <ion-input floating [value]="options.height"></ion-input>
              </ion-item>
            </ion-list>
          </ion-item>
        </ion-list>
        <ion-button (click)="save()">
          <ion-icon name="save"></ion-icon>
          <ion-label>Update</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>